.item {
  transition: transform 0.3s;
  position: relative;
}

.namePrice{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 405px;
  font-size: 1.15rem;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.itemImage{
  cursor: pointer;
}

.imageContainer:hover .itemImage {
  transform: scale(1.1);
}

.viewProductButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.imageContainer:hover .viewProductButton {
  opacity: 1;
}

.propPrice{
  font-size: 1.3rem;
}

.nameDesc{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  /* padding: 0 1rem 1rem; */
}

.propName{
  margin-bottom: 0;
  color: #232323;
}

span{
  font-size: 0.95rem;
  color:#4F4F4F;
}

.buyAdd button {
  padding: 1rem 0.8rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  margin-top: 1rem;
  background-color: #39BD3B;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  border: none;
}

.buyAdd button:hover {
  background-color: #0fa311;
  transform: scale(1.05);
} 


/* MEDIA QUERIES */

@media screen and (max-width:1440px) {
.itemImage{
  width: 430px;
}

  .namePrice{
    width: 430px;
}

.buyAdd {
  width: 430px;
}
}

@media screen and (max-width:1420px) {
.itemImage{
  width: 425px;
}

  .namePrice{
    width: 425px;
}

.buyAdd {
  width: 425px;
}
}

@media screen and (max-width:1409px) {
.itemImage{
  width: 422px;
}

.namePrice{
  width: 422px;
}

.buyAdd {
width: 422px;
}
}

@media screen and (max-width:1392px) {
.itemImage{
  width: 418px;
}

.namePrice{
  width: 418px;
}

.buyAdd {
width: 418px;
}
}

@media screen and (max-width:1383px) {
.itemImage{
  width: 413px;
}

.namePrice{
  width: 413px;
}

.buyAdd {
width: 413px;
}
}

@media screen and (max-width:1371px) {
.itemImage{
  width: 410px;
}

  .namePrice{
    width: 410px;
}

.buyAdd {
  width: 410px;
}
}

@media screen and (max-width:1362px) {
.itemImage{
  width: 405px;
}

.namePrice{
  width: 405px;
}

.buyAdd {
  width: 405px;
}
}

@media screen and (max-width:1342px) {
.itemImage{
  width: 399px;
}

.namePrice{
  width: 399px;
}

.buyAdd {
  width: 399px;
}
}

@media screen and (max-width:1328px) {
.itemImage{
  width: 395px;
}

.namePrice{
  width: 395px;
}

.buyAdd {
  width: 395px;
}
}

@media screen and (max-width:1328px) {
.itemImage{
  width: 393px;
}

.namePrice{
  width: 393px;
}

.buyAdd {
  width: 393px;
}
}

@media screen and (max-width:1314px) {
.itemImage{
  width: 390px;
}

.namePrice{
  width: 390px;
}

.buyAdd {
  width: 390px;
}
}

@media screen and (max-width:1300px) {
.itemImage{
  width: 385px;
}

.namePrice{
  width: 385px;
}

.buyAdd {
  width: 385px;
}
}

@media screen and (max-width:1286px) {
.itemImage{
  width: 382px;
}

.namePrice{
  width: 382px;
}

.buyAdd {
  width: 382px;
}
}

@media screen and (max-width:1280px) {
.itemImage{
  width: 380px;
}

.namePrice{
  width: 380px;
}

.buyAdd {
  width: 380px;
}
}

@media screen and (max-width:1274px) {
.itemImage{
  width: 377px;
}

.namePrice{
  width: 377px;
}

.buyAdd {
  width: 377px;
}
}

@media screen and (max-width:1260px) {
.itemImage{
  width: 370px;
}

.namePrice{
  width: 370px;
}

.buyAdd {
  width: 370px;
}
}

@media screen and (max-width:1240px) {
.itemImage{
  width: 365px;
}

.namePrice{
  width: 365px;
}

.buyAdd {
  width: 365px;
}
}

@media screen and (max-width:1209px) {
.itemImage{
  width: 355px;
}

.namePrice{
  width: 355px;
}

.buyAdd {
  width: 355px;
}
}

@media screen and (max-width:1200px) {
.itemImage{
  width: 351px;
}

.namePrice{
  width: 351px;
}

.buyAdd {
  width: 351px;
}
}

@media screen and (max-width:1189px) {
.itemImage{
  width: 348px;
}

.namePrice{
  width: 348px;
}

.buyAdd {
  width: 348px;
}
}

@media screen and (max-width:1175px) {
.itemImage{
  width: 343px;
}

.namePrice{
  width: 343px;
}

.buyAdd {
  width: 343px;
}
}

@media screen and (max-width:1155px) {
.itemImage{
  width: 339px;
}

.namePrice{
  width: 339px;
}

.buyAdd {
  width: 339px;
}
}

@media screen and (max-width:1146px) {
.itemImage{
  width: 335px;
}

.namePrice{
  width: 335px;
}

.buyAdd {
  width: 335px;
}
}

@media screen and (max-width:1132px) {
.itemImage{
  width: 330px;
}

.namePrice{
  width: 330px;
}

.buyAdd {
  width: 330px;
}
}

@media screen and (max-width:1106px) {
.itemImage{
  width: 490px;
}

.namePrice{
  width: 490px;
}

.buyAdd {
  width: 490px;
}
}

@media screen and (max-width:1106px) {
.itemImage{
  width: 480px;
}

.namePrice{
  width: 480px;
}

.buyAdd {
  width: 480px;
}
}

@media screen and (max-width:1080px) {
.itemImage{
  width: 470px;
}

.namePrice{
  width: 470px;
}

.buyAdd {
  width: 470px;
}
}

@media screen and (max-width:1054px) {
.itemImage{
  width: 460px;
}

.namePrice{
  width: 460px;
}

.buyAdd {
  width: 460px;
}
}

@media screen and (max-width:1034px) {
.itemImage{
  width: 450px;
}

.namePrice{
  width: 450px;
}

.buyAdd {
  width: 450px;
}
}

@media screen and (max-width:1020px) {
.itemImage{
  width: 440px;
}

.namePrice{
  width: 440px;
}

.buyAdd {
  width: 440px;
}
}

@media screen and (max-width:1000px) {
.itemImage{
  width: 450px;
}

.namePrice{
  width: 450px;
}

.buyAdd {
  width: 450px;
}
}

@media screen and (max-width:994px) {
.itemImage{
  width: 445px;
}

.namePrice{
  width: 445px;
}

.buyAdd {
  width: 445px;
}
}

@media screen and (max-width:984px) {
.itemImage{
  width: 440px;
}

.namePrice{
  width: 440px;
}

.buyAdd {
  width: 440px;
}
}

@media screen and (max-width:974px) {
.itemImage{
  width: 430px;
}

.namePrice{
  width: 430px;
}

.buyAdd {
  width: 430px;
}
}

@media screen and (max-width:954px) {
.itemImage{
  width: 425px;
}

.namePrice{
  width: 425px;
}

.buyAdd {
  width: 425px;
}

.namePrice{
  font-size: 1.15rem;
}
.propPrice{
  font-size: 1rem;
}

.propName{
font-size: 1rem;
}

span{
font-size: 0.8rem;
}

.buyAdd button {
padding: 0.8rem;
font-size: 0.9rem;
}
}

@media screen and (max-width:944px) {
.itemImage{
  width: 420px;
}

.namePrice{
  width: 420px;
}

.buyAdd {
  width: 420px;
}
}

@media screen and (max-width:934px) {
.itemImage{
  width: 410px;
}

.namePrice{
  width: 410px;
}

.buyAdd {
  width: 410px;
}
}

@media screen and (max-width:914px) {
.itemImage{
  width: 400px;
}

.namePrice{
  width: 400px;
}

.buyAdd {
  width: 400px;
}
}

@media screen and (max-width:894px) {
.itemImage{
  width: 390px;
}

.namePrice{
  width: 390px;
}

.buyAdd {
  width: 390px;
}
}

@media screen and (max-width:874px) {
.itemImage{
  width: 380px;
}

.namePrice{
  width: 380px;
}

.buyAdd {
  width: 380px;
}
}

@media screen and (max-width:854px) {
.itemImage{
  width: 365px;
}

.namePrice{
  width: 365px;
}

.buyAdd {
  width: 365px;
}
}

@media screen and (max-width:825px) {
.itemImage{
  width: 360px;
}

.namePrice{
  width: 360px;
}

.buyAdd {
  width: 360px;
}
}

@media screen and (max-width:814px) {
.itemImage{
  width: 355px;
}

.namePrice{
  width: 355px;
}

.buyAdd {
  width: 355px;
}
}

@media screen and (max-width:804px) {
.itemImage{
  width: 345px;
}

.namePrice{
  width: 345px;
}

.buyAdd {
  width: 345px;
}
}

@media screen and (max-width:784px) {
.itemImage{
  width: 335px;
}

.namePrice{
  width: 335px;
}

.buyAdd {
  width: 335px;
}
}

@media screen and (max-width:764px) {
.itemImage{
  width: 320px;
}

.namePrice{
  width: 320px;
}

.buyAdd {
  width: 320px;
}
}

@media screen and (max-width:734px) {
.itemImage{
  width: 310px;
}

.namePrice{
  width: 310px;
}

.buyAdd {
  width: 310px;
}

.namePrice{
  font-size: 1rem;
}
.propPrice{
  font-size: 0.9rem;
}

.propName{
font-size: 0.9rem;
}

span{
font-size: 0.75rem;
}
}

@media screen and (max-width:714px) {
.itemImage{
  width: 300px;
}

.namePrice{
  width: 300px;
}

.buyAdd {
  width: 300px;
}
}

@media screen and (max-width:696px) {
.itemImage{
  width: 290px;
}

.namePrice{
  width: 290px;
}

.buyAdd {
  width: 290px;
}
}

@media screen and (max-width:674px) {
.itemImage{
  width: 280px;
}

.namePrice{
  width: 280px;
}

.buyAdd {
  width: 280px;
}

.propPrice{
  font-size: 0.8rem;
}

.propName{
font-size: 0.8rem;
}
}

@media screen and (max-width:654px) {
.itemImage{
  width: 270px;
}

.namePrice{
  width: 270px;
}

.buyAdd {
  width: 270px;
}
}

@media screen and (max-width:634px) {
.itemImage{
  width: 260px;
}

.namePrice{
  width: 260px;
}

.buyAdd {
  width: 260px;
}
}

@media screen and (max-width:614px) {
.itemImage{
  width: 240px;
}

.namePrice{
  width: 240px;
}

.buyAdd {
  width: 240px;
}
}

@media screen and (max-width:574px) {
.itemImage{
  width: 220px;
}

.namePrice{
  width: 220px;
}

.buyAdd {
  width: 220px;
}
}

@media screen and (max-width:534px) {
.itemImage{
  width: 210px;
}

.namePrice{
  width: 210px;
}

.buyAdd {
  width: 210px;
}

.namePrice{
  font-size: 0.7rem;
}

.propPrice{
  font-size: 0.7rem;
}

.propName{
font-size: 0.7rem;
}

span{
font-size: 0.6rem;
}
}

@media screen and (max-width:514px) {
.itemImage{
  width: 200px;
}

.namePrice{
  width: 200px;
}

.buyAdd {
  width: 200px;
}
}

@media screen and (max-width:494px) {
  /* .main {
    display: flex;
    flex-direction: column;
  } */
.itemImage{
  width: 180px;
}

.namePrice{
  width: 180px;
}

.buyAdd {
  width: 180px;
}
}

@media screen and (max-width:452px) {
  /* .namePrice{
    flex-direction: column;
    gap: 0.5rem;
    align-items: unset;
  }
  */
 
.itemImage{
  width: 345px;
}

.namePrice{
  width: 345px;
}

.buyAdd {
  width: 345px;
}

.namePrice{
  font-size: 0.7rem;
}

.propPrice{
  font-size: 0.9rem;
}

.propName{
font-size: 0.9rem;
}

span{
font-size: 0.8rem;
}
}

/* @media screen and (max-width:412px) {
  .itemImage{
    width: 300px;
  }
  
  .namePrice{
    width: 300px;
  }
  
  .buyAdd{
    width: 300px;
  }
} */





















/* 
.item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
}

.main {
  padding: 1rem;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.itemImage {
  width: 100%;
  transition: transform 0.3s ease;
}

.imageContainer:hover .itemImage {
  transform: scale(1.1);
}

.viewProductButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.imageContainer:hover .viewProductButton {
  opacity: 1;
}

.namePrice, .nameDesc, .buyAddContainer {
  margin-top: 1rem;
}

.propName, .propPrice, .nameDesc span {
  display: block;
  margin: 0.2rem 0;
}

.buyAdd {
  display: flex;
  justify-content: space-between;
}

.buyNow {
  background-color: #39BD3B;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buyNow:hover {
  background-color: #2a9d2a;
} */
