.namePrice{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 405px;
  font-size: 1.15rem;
}

.itemImage{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.buyAdd{
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

/* .itemImage{
  width: 405px;
} */

.propPrice{
  font-size: 1.3rem;
}

.nameDesc{
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.propName{
  margin-bottom: 0;
  color: #232323;
}

span{
  font-size: 0.95rem;
  color:#4F4F4F;
}

.buyAddContainer {
  width: 405px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.buyAdd {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buyAdd button {
  padding: 1rem 0.8rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.favoriteIcon {
  width: 20px;
  height: 20px;
}

.addToFavorite {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8E8E8E;
  background: #fff;
  border: 1px solid #8E8E8E;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.addToFavorite:active{
  background: #f3f3f3;
  transform: scale(1.05);
}


.buyNow {
  background-color: #39BD3B;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  border: none;
}

.buyNow:hover {
  background-color: #0fa311;
  transform: scale(1.05);
}



