
.productContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0.8rem 2rem;
    row-gap: 50px;
}
 

.product h1{
    padding: 2rem 3rem;
    font-weight: 600;
    font-size: 1.75rem;
}

.pagination {
    margin-top: 3rem;
    text-align: center;
  }
  
  .pagination button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
  }
  
  .pagination button.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
  }
 

@media screen and (max-width:1106px) {
    .productContainer{
        gap: 30px;
    }
}

@media screen and (max-width:1000px) {
    .product h1{
        font-size: 1.5rem;
        padding:  2rem;
    }
}

@media screen and (max-width:734px) {
    .product h1 {
      font-size: 1.2rem;
  }
}

@media screen and (max-width:452px) {
    .product h1 {
        padding: 1rem ;
        font-size: 1rem;
  }
} 






































/* .product {
    text-align: center;
    margin: 20px;
  }
  
  .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
  }
  
  .pagination button.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
  }
   */





