.review-order {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
  }

.review-order h3{
    margin: 2rem 0;
    text-align: left;
  }

.review-order h4{
    margin: 1rem 0;
    text-align: left;
  }

.order-item img{
    height: 60px;
    border-radius: 8px;
  }

  .revShipCont{
    display: flex;
    /* margin: 1rem 3rem; */
    /* flex-direction: row;
    gap: 3rem; */
  }
/* 
  .order-summary{

  } */
  
  .shipping-info {
    margin-bottom: 20px;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
  }

  .totalh {
    display: flex;
    justify-content: space-between;
  }
  
  .review-order button {
    padding: 1rem 0;
    width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
    border: none;
    background-color: #39BD3B;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .review-order button:hover {
    background: #0fa311;
  }

  .order-summary,
  .shipping-info{
    line-height: 2rem;
  }
  

  @media screen and (max-width: 700px) {
    .revShipCont{
      flex-direction: column;
      gap: 1rem;
    }

    .review-order {
      margin: 1rem;
    }

    .review-order h3{
      margin: 1rem 0;
    }
  
  }