.review-order {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    padding: 1rem;
    background-color: #f5faf5;
    border-radius: 10px;
  }

.review-order h3{
    margin: 1rem 0;
    text-align: left;
  }

.review-order h4{
    margin: 1rem 0;
    text-align: left;
  }

.order-item img{
    height: 60px;
    border-radius: 8px;
  }

  .revShipCont{
    display: flex;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .imgName{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .totalh {
    display: flex;
    justify-content: space-between;
  }
  
  .review-order button {
    padding: 13px 0;
    font-size: 1rem;
    width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
    border: none;
    background-color: #39BD3B;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .review-order button:hover {
    background: #0fa311;
  }

  .order-summary{
    line-height: 2rem;
    padding: 1rem;
  }

  @media screen and (max-width: 700px) {
    .review-order{
      margin: 0 1rem;
    }
  }

  @media screen and (max-width: 400px) {
    .review-order button {
      padding: 11px 0;
    }

    .review-order p{
      font-size: 0.9rem;
    }

    .review-order h3{
      font-size: 1rem;
      margin: 0.6rem 0;
    }

    .review-order h4{
      font-size: 0.9rem;
    }

    .review-order button{
      font-size: 0.9rem;
    }
  }







