.contactForm{
    display: flex;
    flex-direction: column;
}

.contactForm input{
    width: 100%;
    padding: 10px;
}

.formmGroup{
    display: flex;
    /* flex-direction: row; */
    gap: 1rem;
}

.formmm-group{
    display: flex;
    flex-direction: column;
}
 
.form-sub{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.firstName{
    width: 50%;
}

.lastName{
    width: 50%;
}

.dropDown{
    width: 15%;
}

.dropDownNum{
    width: 85%;
}

/* 
 */

 
/* .formmm-group */