.navLogo img {
    width: 166px;
    height: 44px;
}

.navbar {
    background-color: #E7F3E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 3rem;
    font-size: 1.05rem;
}

.navMenu {
    display: flex;
    gap: 3rem;
}

.navMenu li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
}

.navMenu li a {
    font-weight: 600;
    color: #555555;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.navMenu li a:hover {
    color: #000;
}

.navMenu li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navMenu li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.mobile_btn {
    display: none;
}

.navIcon button {
    border: none;
}

.cartIcon {
    display: flex;
    align-items: center;
    position: relative;
}

.search,
.cartIcon a {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px 12px;
    color: #000;
}

.user {
    display: flex;
    align-items: center;
}

.user button {
    border: 1px solid #08AC0A;
    color: #08AC0A;
    border-radius: 8px;
    font-weight: 600;
    padding: 9px 11px;
    font-size: 1rem;
}

.cartCount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #08AC0A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    margin-right: -1rem;
    margin-bottom: 2rem;
  }
  

@media screen and (max-width: 1120px) {
    .navMenu {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 1046px) {
    .navbar {
        font-size: 1rem;
    }

    .navLogo img {
        width: 150px;
        height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
    }

    .mobile_btn {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 930px) {
    .user {
        display: none;
    }

    .cartIcon a {
        background: none;
        margin-right: 3rem;
    }

    .mobile_btn {
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        z-index: 10;
        /* margin-right: 2rem; */
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: -100%;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #F5FAF5;
        z-index: 10;
        transition: left 1s;
    }

    .active {
        left: 0;
    }
}

@media screen and (max-width: 460px) {
    .navbar {
        padding: 0.8rem 1rem;
    }

    .cartIcon a {
        margin-right: 3rem;
    }

    .navMenu li a {
        font-size: 1.2rem;
    }

    .cartCount {
        margin-right: 3rem;
}
}

@media screen and (max-width: 411px) {
    .navbar {
        padding: 0.8rem 1.5rem;
    }
}