.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.breaddcrum {
  display: none;
}

.form-groupInside {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form-groupInside input:focus {
  outline: none;
}

.inside {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 20px;
}

.twoBoxes {
  display: flex;
  gap: 20px;
}

input {
  background: none;
  border: 1px solid #C0C0C0;
  margin-bottom: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
}

label {
  font-size: 0.9rem;
}

.payment-form {
  background: #F5FAF5;
  padding: 1.5rem 2rem;
  gap: 1rem;
  margin: 1rem 3rem;
}

.payment-form h3 {
  margin: 1rem 0;
}

.payment-form button {
  padding: 1rem 0;
  width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
  border: none;
  background-color: #39BD3B;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.payment-form button:hover {
  background: #0fa311;
}

@media screen and (max-width: 1288px) {
  .inside {
    grid-template-columns: 4fr 1fr;
    gap: 20px;
  }
  
  .twoBoxes {
    gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .payment-form {
    margin: 1rem;
  }
}

@media screen and (max-width: 970px) {
  .inside {
      gap: 10px;
      grid-template-columns: 1fr;
  }

  .twoBoxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
  }

  .paymentMethod h3 {
      font-size: 1rem;
  }

  .payment-form h3 {
    margin: 0 0 1rem;
  }
}

@media screen and (max-width: 700px) {
  .payment-form button {
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .payment-form {
    padding: 1rem 0.5rem 0.5rem;
  }

  input {
    padding: 0.7rem;
  }

  label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 585px) {
  .inside {
      gap: 10px;
      grid-template-columns: 1fr;
  }

  .twoBoxes {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .payment-form {
      padding: 1rem 0.5rem;
  }

  .payment-form h3 {
      font-size: 1rem;
  }
}


