.footer{
    margin: 5rem 0 3rem;
}

.footLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 3rem 0;
}

.footIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.footText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footLogo img {
    border-right: 1px solid #39BD3B;
    padding-right: 2rem;
}


@media screen and (max-width: 1282px) {
    .footLink{
    gap: 3rem;
    }
}

@media screen and (max-width: 1162px) {
    .footLink{
    gap: 2rem;
    }
}

@media screen and (max-width: 1053px) {
    .footLink{
    font-size: 0.9rem;
    }
}

@media screen and (max-width: 997px) {
    .footLink{
        flex-direction: column;
        align-items: initial;
        margin-left: 1rem;
    }

    .footLogo img {
        border-bottom: 1px solid #39BD3B;
        border-right:0;
        padding-right: 0;
        padding-bottom: 0.3rem;
    }

    .footer{
        margin: 3rem 0 3rem;
    }
}

